.song-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1000000px; */
    /* width: 1292px; */
    position: relative;
}

/* Style for the comment input container */
.comment-input-container {
    display: flex;
    /* flex-direction: column; */
    /* padding: 16px; */
    margin-top: 40px;
    /* background-color: #f0f0f0; */
    width: 700px;
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
    align-items: center;
    border: 0px;
    position: relative;
    right: 250px;
}

.comment-input-container input {
    box-sizing: border-box;
    width: 542px;
    height: 30px;
    /* padding: 8px; */
    border: 0.5px solid #ccc;
    border-radius: 10px;
    margin-bottom: 8px; /* Space between textarea and button */
    /* resize: vertical; */
    background-color:rgb(248, 241, 241);
    padding: 10px;
}
.avatar {
    background-color: blanchedalmond;
}

.avatar-placeholder {
    width: 36px; 
    height: 36px; 
    background-color: #c4c4c4; 
    border-radius: 50%; 
    margin-right: 12px; 
}

.avatar {
    width: 46px; 
    height: 46px; 
    border-radius: 50%; 
    margin-right: 12px; 
    object-fit: cover; 
    
}

.send-button {
    /* bottom: 10px; */
    margin-bottom: 11px;
    margin-left: 11px;
    background-color: orangered ;
    color: aliceblue;
    border: none;
    /* margin: 15px; */
    width: 50px;
    height: 32px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 700;
}

.send-button:hover {
    /* bottom: 10px; */
    /* margin-bottom: 20px; */
    background-color: rgb(206, 108, 72) ;
    color: aliceblue;
     box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
     margin-bottom: 11px;
     margin-left: 11px;
}

.comment-input:focus{
    outline: none;
}

.comment-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-right: 600px;
    padding-bottom: 30px;
    padding-top: 40px;


}
hr {
    width: 44%;
    margin-right: 510px;
}
.comment-text {
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-family: Arial, sans-serif; 
    font-size: 0.95rem; 
    color: #333; 
    margin: 10px 0;
    padding: 15px; 
    word-wrap: break-word
}
.post-button-song-detail {
    list-style: none;
}
.hide-send-button {
    display: none;
}
.commnent-sorting {
    border: 1px solid orangered;
    margin-top: 5px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    color: orangered;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 

}


.select-sort{
    border: 0px;
    color: orangered;
    background-color: transparent;
    width: 100%; 
    padding-left:50px;
    border: none; 
    
    
    
}
.select-sort:focus {
    outline: none;
     /* box-shadow: 0 2px 4px rgba(0,0,0,0.1);  */
     

}
.select-sort:hover {
    color: white;
    width: 100%;
    background-color: orangered;
    height: 100%;
}
.commnent-sorting:hover {
    /* background-color: orangered; */
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 


}



.confirm-delete {
    position: absolute;
    width: 300px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
    border-radius: 5px;
    z-index: 100; 
  }
  .confirm-delete > button {
    margin-top: 10px;
    margin-right: 100px;
  }

.comment-text-edit {
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px;
    background-color: #f0f0f0; 
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
    font-family: Arial, sans-serif; 
    font-size: 0.95rem; 
    color: #333; 
    margin: 10px 0;
    padding: 15px; 
    border: none;
    width: 264px;
    word-wrap: break-word

    
}
.comment-text-edit:focus{
    outline: none;
}


.edit-delete {
    display: flex;
    justify-content:space-between;
}
.save-cancel {
    display: flex;
    justify-content: space-between;
}