.song-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* max-width: 1000000px; */
    /* width: 1292px; */
}
.add-playlist{
    list-style-type: none;
    width: 150px;
    height: auto;
}
.add-playlist li{
    padding: 15px;
}
