#deleteModal h1{
    margin-top: 15px;
    margin-bottom: 15px;
}
#yes{
    margin: 5px;
    width: 100px;
    height: 50px;
    background-color: red;
    padding: 5px;
}
#no{
    margin: 5px;
    width: 100px;
    height: 50px;
    background-color: gray;
    padding: 5px;
}
#modal-content{
    width: 500px;
    height: 200px;
}
#deleteModal{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.button-confirm{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
