* {
  margin: 0;
  padding: 0;
}

.homeImg {
  width: 60px;
  height: 100%;
  margin-left: 40px;
  margin-top:5px;
}

.profile-dropdown {
  position: absolute;
  right: 22px;
  border: 1px solid;
  width: auto;
  padding: 10px;
  top: 55px;
  border: none;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  background-color: #ff5500;
  z-index: 1;
  color: white;
}

.div-login,
.div-sign-up {
  text-align: center;
  color: #938776;
}
.div-login:hover,
.div-sign-up:hover {
 color: #3b362f;
}

.profile-dropdown {
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.profile-dropdown li{
  font-weight: bold;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 5px;
}
.profile-dropdown a{
  text-decoration: none;
  justify-content: center;
}
.profile-dropdown a:visited{
  color: black;
}
.profile-dropdown a:hover{
  color: rgb(255, 255, 255);
}
.profile-dropdown a:link{
  color: rgb(0, 0, 0);
}

.hidden {
  display: none;
}

.div-navigation-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
}
.div-navigation-a-user{
  display: flex;
  flex-direction: row;
  align-items: center;

}
.div-navigation-a{
  display: flex;
  align-items: center;
  color: white;
}
.div-navigation-a h1{
  margin-left: 5px;
}
.nav-user-button{
  width: 50px;
  height: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-right: 20px;
}
.upload-a-song{
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.upload-a-song:hover{
  color: #ff5500;
}

button {
  border: none;
  margin: 15px;
  width: 80px;
  height: 30px;
  cursor: pointer;
  background-color: #e4e4e4;
  border-radius: 5px;
  font-weight: bold;
}
button:hover {
  color: #ff5500;
}
